html, body{
    font: 14px/1.5 Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", SimSun, Heiti, sans-serif;
    color: #515151;
  }
  
  html{
    background-color: #f4f4f4;
  }
  
  .fl{
    float: left;
  }
  
  .fr{
    float: right;
  }
  
  .clearfix:after{
    content: '';
    display: block;
    clear: both;
  }
  
  .btn {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    outline: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    min-width: 58px;
    min-height: 34px;
    line-height: 34px;
    transition: .5s all;
    padding: 0 20px;
    user-select: none;
    box-sizing: border-box;
  }
  
  .success {
    color: #FFF;
    border-color: #00c3f5;
    background-color: #00c3f5;
  }
  
  .success:hover {
    border-color: #40D2F8;
    background-color: #40D2F8;
  }
  
  .danger {
    color: #fff;
    background-color: #f66567;
    border-color: #f66567;
  }
  
  .danger:hover {
    background-color: #fe7476;
    border-color: #fe7476;
  }
  
  .cancel {
    color: #999;
    border-color: #EFEFEF;
    background-color: #EFEFEF;
  }
  
  .cancel:hover {
    border-color: #F6F6F6;
    background-color: #F6F6F6;
  }
  